<style>
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-color: var(--loader-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
}

.loader:before {
    opacity: 0.15;
}

.loader:after {
    border-right-color: transparent;
    animation: 1s linear infinite spin;
    animation-delay: var(--loader-delay);
}
</style>

<script>
    import { onMount } from 'svelte';

    export let color = 'orangered';

    let delay;

    function setDelay() {
        delay = Date.now() % 1000;
    }

    onMount( setDelay );
</script>

<div class="loader" style="--loader-color: {color}; --loader-delay: -{delay}ms"></div>
